footer {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
  padding: 1rem;
  background-color: #faf0e6;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

.footer-left,
.footer-right {
  font-size: 1rem;
  color: #666;
}

.footer-nav ul {
    display:flex;
    margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  gap: 2rem;
  list-style-type: none;
}

.footer-nav a {
  color: #4b9cd3;
  transition: color 0.3s;
}

  .footer-nav a:hover {
    color: #ff6f61;
  }
