h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #073642;
  margin: 0;
}

.account-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0rem 7rem;
}

.field {
  display: flex;
  flex-direction: column;
}

  .field hr {
    width: 100%;
    margin-bottom: 1.5rem;
    border-top: 1px solid #ccc;
  }

/* Row that contains text and edit button */
.field-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field label {
  font-weight: bold;
  color: #586e75;
  display: block;
  margin-bottom: 0.5rem;
}

.field div {
  font-size: 1.1rem;
  color: #002b36;
}

/* Edit button */
.edit-btn {
  background-color: transparent;
  color: #268bd2;
  border: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.2s ease;
}

  .edit-btn:hover {
    color: #006bb3;
  }

/* Bio section */
  .bio-section label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #586e75;
  }

textarea {
  width: 97%;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  resize: vertical;
  background-color: #fff;
  color: #002b36;
}
