<header>
  <div class="navbar">
    <div class="link" routerLink="/write">Write</div>
    <div class="link" routerLink="/read">Read</div>
    <div class="link" routerLink="/tips">Tips</div>
  </div>
  <img src="assets/WBLogo.png" class="logo" (click)="goHome()" />
  <div class="navbar">
    <div class="link" routerLink="/post">Post</div>
    <!--If user is NOT logged in-->
    <div *ngIf="!isLoggedIn">
      <div class="loginButton" routerLink="/login">Login</div>
    </div>
    <!--If user is logged in-->
    <div *ngIf="isLoggedIn">
      <div class="profileButton" tabindex="0" (click)="openDropdown()" (blur)="closeDropdown()">
        <img src="assets/placeholderProfile.png" class="profile-image" />
        <mat-icon>{{ dropdownOpen ? 'expand_more' : 'expand_less' }}</mat-icon>
      </div>
    </div>
    <!--Dropdown Menu-->
    <div *ngIf="dropdownOpen" class="dropdown-menu">
      <a routerLink="/write"><mat-icon>face</mat-icon> My Profile</a>
      <a routerLink="/settings"><mat-icon>settings</mat-icon> Settings</a>
      <a (click)="logout()"><mat-icon>exit_to_app</mat-icon> Logout</a>
    </div>
  </div>
</header>
