header {
    height: 3rem;
  font-family: 'Times New Roman';
  font-size: 18pt;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: #faf0e6;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  gap: 3rem;
  color: #268bd2;
  align-items: center;
}

.link:hover {
  cursor: pointer;
  color: #002b36;
  transition: color 0.3s;
}

.logo {
  cursor: pointer;
  height: 60px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.loginButton {
  cursor: pointer;
  color: white;
  background-color: #268bd2;
  border: 0;
  border-radius: 999px;
  padding: 0.5rem 1.5rem;
  transition: background-color 0.3s;
}

  .loginButton:hover {
    cursor: pointer;
    background-color: #002b36;
  }

.profileButton {
  cursor: pointer;
  display: flex;
  align-items: end;
}

.profile-image {
  display: block;
  height: 40px;
  border-radius: 50%;
}

.dropdown-menu {
  position: absolute;
  top: 4rem;
  right: 5rem;
  background-color: #fdf6e3;
  border: 2px solid grey;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
}

  .dropdown-menu a {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 12px 12px;
    color: black;
    font-size: 15pt;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }

    .dropdown-menu a:hover {
      background-color: #4b9cd3;
      color: white;
      border-radius: 6px;
    }
